<div class="container rules-container">
  <h1> About </h1>

  <div>
    <h2>Main Purpose</h2>
    <p>Hello!! My name is Alex and I am an MSc student. This Website is part of my MSc Dissertation. </p> 
    <p>While this game can be great fun to play with friends, the main reason I created this website is to have a way to evaluate the AI agents
      I implemented to play it. So if you like the game please try to play it using the different agents provided !! Every time you play I collect
      meaningful data regarding their performance which are crucial for my Dissertation! Lastly if you have time and you want to provide feedback
      to me regarding the agents or any aspect of the game, please use the Feedback tab and fill in the questionnaire. All constructive feedback is
      highly appreciated!
    </p>

    <h2>Meet the AI Agents</h2>
    
    <h3>Vasikia</h3>
    <div class="center">
      <div class="flower-spinner">
          <div class="dots-container">
            <div class="bigger-dot">
              <div class="smaller-dot"></div>
            </div>
          </div>
      </div>
    </div>
    <p>Vasikia is the first AI agent I implemented. In order 
      to associate words in real time, she looks into wikipedia articles. She finds clues by comparing the text of the wikipedia articles related
      to the words on the board. She is considered the "Basic" Bot. Not a lot of fancy stuff going on with her but even though she may take her
      time on some turns, she will always perform well!
    </p>
    <h3>Ermis</h3>
    <div class="center1">
      <div class="orbit-spinner">
          <div class="orbit"></div>
          <div class="orbit"></div>
          <div class="orbit"></div>
        </div>
    </div>
  
    <p>Ermis tries to be a smarter and faster Bot. He only looks into the summaries of the wikipedia articles for his clues, supposedly that is where
      the most useful information lies. He also adapts to the number of words on the board in order to improve his performance but also maintain a
      consistent speed. He might be able to provide good clues pretty fast but sometimes he might prove to be a little too hasty!
    </p>
    <h3>Tantalus</h3>
    <div class="center2">
      <div class="fingerprint-spinner">
          <div class="spinner-ring"></div>
          <div class="spinner-ring"></div>
          <div class="spinner-ring"></div>
          <div class="spinner-ring"></div>
          <div class="spinner-ring"></div>
          <div class="spinner-ring"></div>
          <div class="spinner-ring"></div>
          <div class="spinner-ring"></div>
          <div class="spinner-ring"></div>
        </div>
    </div>
    <p>Tantalus is the greediest of the Bots. He associates words in a similar way as Vasikia but chooses clues in a greedy manner. His 
      main focus is to offer clues that are connected to as many words on the board as possible, in order to finish the game faster. this
      behaviour will pay off in a lot of the games but might prove risky at others!
    </p>
    
    <h3>Slow Vasikia</h3>
    <div class="center">
      <div class="flower-spinner">
          <div class="dots-container">
            <div class="bigger-dot">
              <div class="smaller-dot"></div>
            </div>
          </div>
      </div>
    </div>
    <p>Slow Vasikia works exactly the same way as Vasikia. The only difference is that Slow Vasikia looks into more articles than Vasikia.
      That means she will take more time to find clues, but generally will provide better clues. 
    </p>
  </div>
</div>
