<app-nav-wordboard (guidesTurn)="toGuidesTurn($event)"></app-nav-wordboard>
  
<div class="card">
  <div class="card-body">
    
    
    <!--
    <ul class="WordBoard">
      <li *ngFor="let word of wordlist" (click)="onSelect(word)" [class.selected]="word === selectedWord">
        <span class="wordCard">{{word.id}} </span> {{word.value}}
      </li>
    </ul>-->
      
      
    <div *ngFor="let word of wordlist ; index as i">        
      <div *ngIf="i<5">
      <div class="row">
        
        <div [ngClass]="{'guide': isWordboardVisible || !activeWords[i*5] , activeButton: globals.isPlayersTurn && activeWords[i*5]  }" class="module word col" [class]="wordlist[i*5].colour" (click)="clickWord(i*5)" [id]="wordlist[i*5].value">
          <h4>{{wordlist[i*5].value}}</h4>
        </div>
        <div [ngClass]="{'guide': isWordboardVisible || !activeWords[i*5+1] , activeButton: globals.isPlayersTurn && activeWords[i*5+1]  }" class="module word col" [class]="wordlist[i*5+1].colour" (click)="clickWord(i*5+1)" [id]="wordlist[i*5+1].value">
          <h4>{{wordlist[i*5+1].value}}</h4>
        </div>
        <div [ngClass]="{'guide': isWordboardVisible || !activeWords[i*5+2] , activeButton: globals.isPlayersTurn && activeWords[i*5+2]  }" class="module word col" [class]="wordlist[i*5+2].colour" (click)="clickWord(i*5+2)" [id]="wordlist[i*5+2].value">
          <h4 >{{wordlist[i*5+2].value}}</h4>
        </div>
        <div [ngClass]="{'guide': isWordboardVisible || !activeWords[i*5+3] , activeButton: globals.isPlayersTurn && activeWords[i*5+3]  }" class="module word col" [class]="wordlist[i*5+3].colour" (click)="clickWord(i*5+3)" [id]="wordlist[i*5+3].value">
          <h4 >{{wordlist[i*5+3].value}}</h4>
        </div>
        <div [ngClass]="{'guide': isWordboardVisible || !activeWords[i*5+4] , activeButton: globals.isPlayersTurn && activeWords[i*5+4]  }" class="module word col" [class]="wordlist[i*5+4].colour" (click)="clickWord(i*5+4)" [id]="wordlist[i*5+4].value">
          <h4 >{{wordlist[i*5+4].value}}</h4>
        </div>
      </div>
      </div>
    </div>
    
  </div>
</div> 






