<app-nav-wordboard [appBoardViewChange] (changeTurn)="changeTurn()" (guidesTurn)="toGuidesTurn()"></app-nav-wordboard>
  
<div class="card">
  <div class="card-body">
    
    
    <!--
    <ul class="WordBoard">
      <li *ngFor="let word of wordlist" (click)="onSelect(word)" [class.selected]="word === selectedWord">
        <span class="wordCard">{{word.id}} </span> {{word.value}}
      </li>
    </ul>-->
      
      
    <div *ngFor="let word of wordlist ; index as i" routerLink="/detail/{{word.id}}">        
      <div *ngIf="i<5">
      <div class="row">
        
        <div [ngClass]="{'guide': isWordboardVisible }" class="module word col " [class]="wordlist[i*5].colour" [id]="wordlist[i*5].value" >
          <h4>{{wordlist[i*5].value}}</h4>
        </div>
        <div [ngClass]="{'guide': isWordboardVisible }" class="module word col" [class]="wordlist[i*5+1].colour" [id]="wordlist[i*5+1].value">
          <h4>{{wordlist[i*5+1].value}}</h4>
        </div>
        <div [ngClass]="{'guide': isWordboardVisible }" class="module word col" [class]="wordlist[i*5+2].colour" [id]=" wordlist[i*5+2].value">
          <h4 >{{wordlist[i*5+2].value}}</h4>
        </div>
        <div [ngClass]="{'guide': isWordboardVisible }" class="module word col" [class]="wordlist[i*5+3].colour" [id]="wordlist[i*5+3].value">
          <h4 >{{wordlist[i*5+3].value}}</h4>
        </div>
        <div [ngClass]="{'guide': isWordboardVisible }" class="module word col" [class]="wordlist[i*5+4].colour" [id]="wordlist[i*5+4].value">
          <h4 >{{wordlist[i*5+4].value}}</h4>
        </div>
      </div>
      </div>
    </div>
    
  </div>
</div> 






