.score{
    color: #eee;
    font-size: 110%;
    font-weight: 650;
    text-shadow: 0.04rem 0.04rem 0.07rem black;
}
.navbar-brand{
    text-shadow: -0.7px 0 black, 0 0.7px black, 0.8px 0 black, 0 -0.8px black;
}

.scoreboard{
    padding:0.8rem;
    margin: 0.4rem;
    border: 0.1rem solid #595959;
    box-shadow: 0.04rem 0.04rem 0.04rem 0.04rem #888888;
    border-radius: 0.2rem;
}

btn{
    margin:0.2rem;
}

.form-control{
    margin:0.2rem;
}

.nav-item{
    margin:0.1rem;
}

.blue{
    background-color: #66b3ff;
}

.red{
    background-color: #e62e00;
}

.turnSign {
    border-radius: 2rem;
    margin-left: 6rem;
}

button{
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

.notDisplayed{
    display:none;
}

.text{
    font-size:105%;
    font-weight: 430;
}
.clue{
    font-size:150%;
}
span{
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

.guideButton{
    color: white;
    
    font-size:103%;
    text-shadow: 0.05rem 0.05rem 0.06rem black;

    border-radius: 5%;
    box-shadow: 0.07rem 0.07rem 0.07rem 0.07rem #888888;
}

.giveClueButton{
    margin-right:0.5rem;
    margin-left:0.3rem;

    border-radius: 3%;
    box-shadow: 0.07rem 0.07rem 0.07rem 0.07rem #888888;
}

.flower-spinner,  .flower-spinner * {
    box-sizing: border-box;
    }

    .flower-spinner {
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

    .flower-spinner .dots-container {
    height: calc(70px / 7);
    width: calc(70px / 7);
    }

    .flower-spinner .smaller-dot {
    background: #ffffff;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: flower-spinner-smaller-dot-animation 2.5s 0s infinite both;

    }

    .flower-spinner .bigger-dot {
    background: #ffffff;
    height: 100%;
    width: 100%;
    padding: 10%;
    border-radius: 50%;
    animation: flower-spinner-bigger-dot-animation 2.5s 0s infinite both;
    }

    @keyframes flower-spinner-bigger-dot-animation {
    0%, 100% {
        box-shadow: rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px;
    }

    50% {
        transform: rotate(180deg);
    }

    25%, 75% {
        box-shadow: rgb(255, 255, 255) 26px 0px 0px,
        rgb(255, 255, 255) -26px 0px 0px,
        rgb(255, 255, 255) 0px 26px 0px,
        rgb(255, 255, 255) 0px -26px 0px,
        rgb(255, 255, 255) 19px -19px 0px,
        rgb(255, 255, 255) 19px 19px 0px,
        rgb(255, 255, 255) -19px -19px 0px,
        rgb(255, 255, 255) -19px 19px 0px;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px;
    }
    }

    @keyframes flower-spinner-smaller-dot-animation {
    0%, 100% {
        box-shadow: rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px;
    }

    25%, 75% {
        box-shadow: rgb(255, 255, 255) 14px 0px 0px,
        rgb(255, 255, 255) -14px 0px 0px,
        rgb(255, 255, 255) 0px 14px 0px,
        rgb(255, 255, 255) 0px -14px 0px,
        rgb(255, 255, 255) 10px -10px 0px,
        rgb(255, 255, 255) 10px 10px 0px,
        rgb(255, 255, 255) -10px -10px 0px,
        rgb(255, 255, 255) -10px 10px 0px;
    }

    100% {
        box-shadow: rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px,
        rgb(255, 255, 255) 0px 0px 0px;
    }
    }