<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #b099b7;">  
  
    <ul class="navbar-nav mr-auto">
      <li class="navbar-text nav-item blue score scoreboard">
        Blue Words : {{globals.blueWordsCount}}
      </li>
      <li class="navbar-text nav-item red score scoreboard">
        Red Words : {{globals.redWordsCount}}
      </li>
      <li class="navbar-text nav-item turnSign score scoreboard" [ngClass]="{'blue': globals.isBluesTurn, 'red': !globals.isBluesTurn, 'notDisplayed': globals.singleMode}">
        {{globals.teamsTurn}}
      </li>
    </ul>

    <span class="score" [ngClass]="{'notDisplayed':!globals.isAITurn || !globals.isVasikiaActive}"><span class="AIAgent" [ngClass]="{'notDisplayed':!globals.isAITurn || !globals.isSlowVasikiaActive || !globals.isVasikiaActive}">Slow</span> <span class="AIAgent">Vasikia</span> <span class="text"> is thinking </span></span>
    <span class="score" [ngClass]="{'notDisplayed':!globals.isAITurn || !globals.isErmisActive}"> <span class="AIAgent">Ermis</span> <span class="text"> is thinking </span></span>
    <span class="score" [ngClass]="{'notDisplayed':!globals.isAITurn || !globals.isTantalusActive}"> <span class="AIAgent">Tantalus</span> <span class="text"> is thinking </span></span>

    <div class="flower-spinner" [ngClass]="{'notDisplayed':!globals.isAITurn || !globals.isVasikiaActive}">
      <div class="dots-container" [ngClass]="{'notDisplayed':!globals.isAITurn || !globals.isVasikiaActive}">
        <div class="bigger-dot">
          <div class="smaller-dot"></div>
        </div>
      </div>
    </div>

    <div class="orbit-spinner" [ngClass]="{'notDisplayed':!globals.isAITurn || !globals.isErmisActive}">
      <div class="orbit"></div>
      <div class="orbit"></div>
      <div class="orbit"></div>
    </div>

    <div class="fingerprint-spinner" [ngClass]="{'notDisplayed':!globals.isAITurn || !globals.isTantalusActive}">
      <div class="spinner-ring"></div>
      <div class="spinner-ring"></div>
      <div class="spinner-ring"></div>
      <div class="spinner-ring"></div>
      <div class="spinner-ring"></div>
      <div class="spinner-ring"></div>
      <div class="spinner-ring"></div>
      <div class="spinner-ring"></div>
      <div class="spinner-ring"></div>
    </div>


    <form class="form-inline giveClue" [ngClass]="{'notDisplayed':globals.isPlayersTurn || globals.isGameOver || globals.isAITurn}">
      <input #newClue class="form-control mr-sm-2" type="search" placeholder="Give Clue" aria-label="Clue">
      <select #numOfRelatedWords class="form-control">
        <option value="0">0</option>
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>        
      </select>
      <button class="btn btn-primary giveClueButton" type="submit" (click)="onGiveClueClick(newClue.value,numOfRelatedWords.value)">Give Clue</button>
    </form>
    <button class="btn btn-danger guideButton" type="button" [ngClass]="{'notDisplayed': !globals.isPlayersTurn || globals.canNotPass || globals.isAITurn}" (click)="onPass()">Pass</button>
    <span id="Clue" class="score" [ngClass]="{'notDisplayed':!globals.isPlayersTurn || globals.isGameOver}"><span class="text"> Clue: </span><span class="clue">{{globals.currentClue}}</span><span class="text"> Related Words: </span>{{globals.numberOfRelatedWords}}<span class="text"> Guesses Left: </span>{{globals.currentGuessesLeft}}</span>
    <button class="btn btn-danger guideButton" type="button" [ngClass]="{'notDisplayed':globals.isPlayersTurn || globals.isAITurn}" (click)="toGuidesTurnClick()">Guide's View</button>
  
</nav>