
<div class="menu">
  <h2>Main Menu</h2>

  <button type="button" class="btn btn-lg btn-info" (click)="onClickStartNewGame()">
    Start New Game
    <i class="fa fa-spinner fa-spin" style="font-size:24px" [ngClass]="{'notDisplayed': !loading}" ></i>
  </button>
  <h3>Options</h3>

  <div class="form-check">
      <label>
        <input type="checkbox" name="check" [(ngModel)]="globals.singleMode"> <span class="label-text">SingleTeam Game</span>
      </label>
    </div>

  <div class="playerOptions container">
    <div class="row">
      <div class="col-md-3">
        <h4 class="blue">Blue Player</h4>
        <select [(ngModel)]="bluePlayer" class="form-control">
          <option value="HumanP" selected>Human Player</option>
          <option value="BasikosAI">Basic AI Player</option>             
        </select>
      </div>
      <div class="col-md-3">
        <h4 class="blue">Blue Guide</h4>
        <select [(ngModel)]="blueGuide" class="form-control">
          <option value="HumanG" selected>Human Guide</option>
          <option value="BasikosAI">Basic AI Guide</option>             
        </select>
      </div>
      <div class="col-md-3" [ngClass]="{'notDisplayed': globals.singleMode}">
        <h4 class="red">Red Player</h4>
        <select [(ngModel)]="redPlayer" class="form-control">
          <option value="HumanP" selected>Human Player</option>
          <option value="BasikosAI">Basic AI Player</option>             
        </select>
      </div>
      <div class="col-md-3" [ngClass]="{'notDisplayed': globals.singleMode}">
        <h4 class="red">Red Guide</h4>
        <select [(ngModel)]="redGuide" class="form-control">
          <option value="HumanG" selected>Human Guide</option>
          <option value="BasikosAI">Basic AI Guide</option>             
        </select>
      </div>
    </div>
  </div>
</div>